*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.back {
    width: 10vh;
    height: 20px;
    border: 0px;
    background: 0;
    align-items: center;
    color: green;
    font-size: 20px;
}

.carta {
    width: 5vh;
    height: 20px;
    border: 0px;
    background: 0;
    align-items: center;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.marca {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.encabezado1 {
    color: rgb(243, 243, 8);
}

.encabezado2 {
    color: green;
}

.login-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: green;
    font-size: 24px;
}

.seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125vh;
    justify-content: space-evenly;
    border: none;
    height: 50%;
}   

.welcome {
    color: green;
    font-style: italic;
    font-size: 10vw;
}

.first, .last, .create, .phone, .email, .pass, .confirm {
    height: 50px;
    width: 50vw;
}

label {
    display: flex;
    width: 50%;
}
form {
    background: green;
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
    font-size: 5vw;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submit-button {
    background: yellow;
    padding: 10px;
    border: none;
    color: green;
    font-size: 5vw;
    font-style: italic;
    width: 50vw;
}
