*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.menu {
    width: 5vh;
    height: 20px;
    border: 0px;
    background: 0;
    align-items: center;
}

.carta {
    width: 5vh;
    height: 20px;
    border: 0px;
    background: 0;
    align-items: center;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}
.marca {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.encabezado1 {
    color: rgb(243, 243, 8);
}

.encabezado2 {
    color: green;
}

.login-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: green;
    font-size: 24px;
}

.reserva {
    background: green;
    color: white;
    border-radius: 10px;
    padding: 2px;
}

.seccion2 {
    height: 50vh;
}

.sub-seccion2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
    height: 50vh;
    color: white;
    padding: 10px;
    font-size: 3vw;
}

.restaurante {
    position: relative;
    z-index: -1;
    height: 50vh;    
}