*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.menu {
    width: 5vh;
    height: 20px;
    border: 0px;
    background: 0;
    align-items: center;
}

.carta {
    width: 5vh;
    height: 20px;
    border: 0px;
    background: 0;
    align-items: center;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.marca {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.encabezado1 {
    color: rgb(243, 243, 8);
}

.encabezado2 {
    color: green;
}

.login-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: green;
    font-size: 24px;
}

.reserva {
    background: green;
    color: white;
    border-radius: 10px;
    padding: 2px;
}

.seccion2 {
    height: 50vh;
    border: 1px solid black;
}

.sub-seccion2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
    height: 50vh;
    color: white;
    padding: 10px;
    font-size: 3vw;
}

.restaurante {
    position: relative;
    z-index: -1;
    height: 50vh;    
}

.seccion3 {
    height: 10vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.veg {
    background: green;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: none;
    width: 15vh;
    color: white;
    width: 20vw;
    font-size: 2vw;
    align-items: center;
}
.meat {
    background: green;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: none;
    width: 15vh;
    color: white;
    width: 20vw;
    font-size: 2vw;
    align-items: center;
}
.asian {
    background: green;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: none;
    width: 15vh;
    color: white;
    width: 20vw;
    font-size: 2vw;
    align-items: center;
}

.seccion4 {
    
    border: 1px solid black;
    padding: 1rem;
    height: 65vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.uno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-right: 15px;
    height: 20vh;
    width: 98vw;    
    
}

.dos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-right: 15px;
    height: 20vh;
    width: 98vw;
}
.tres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 15px;
    height: 20vh;
    width: 98vw;
}

.brochetas {
    border: 1px solid black;
    flex-grow: 1;
    width: 30vw;
    
}
.carne {
    border: 1px solid black;
    flex-grow: 1;
    width: 30vw;
}

.makis {
    border: 1px solid black;
    flex-grow: 1;
    width: 30vw;
}
.text1 {
    border: 1px solid black;
    padding: 20px;
    font-size: 3vw;
    width: 80vw;
    
}
.tex2 {
    border: 1px solid black;
    padding: 20px;
    font-size: 3vw;
    width: 80vw;
    
}
.tex3 {
    border: 1px solid black;
    padding: 20px;
    font-size: 3vw;
    width: 80vw;
    
    
}