*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.back {
    width: 10vh;
    height: 20px;
    border: 0px;
    background: 0;
    align-items: center;
    color: green;
    font-size: 20px;
}

.carta {
    width: 5vh;
    height: 20px;
    border: 0px;
    background: 0;
    align-items: center;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.marca {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.encabezado1 {
    color: rgb(243, 243, 8);
}

.encabezado2 {
    color: green;
}
.user {
    width: 10vh;
    height: 20px;
    border: 0px;
    background: 0;
    align-items: center;
    color: green;
    font-size: 20px;
}

.login-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: green;
    font-size: 24px;
}

.seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 125vh;
    justify-content: space-evenly;
    border: none;
    height: 100%;
    
}   

.welcome {
    color: green;
    font-style: italic;
    font-size: 8vw;
}

.mensaje {
    color: green;
    font-style: italic;
    font-size: 5vw;
    display: inline;
}

.mensaje2 {
    color: yellow;
    font-style: italic;
    font-size: 5vw;
    display: inline;
}

.mensajes {
    padding: 20px;
    padding-top: 60px;
}

.backhome {
    padding: 10px;
    border: 1PX solid yellow;
    color: green;
    font-size: 5vw;
    font-style: italic;
    width: 50vw;
    background: white;
    
}
.home {
    padding-top: 200px;
    padding-bottom: 200px;
}

